#google_translate_element{
    /* position: fixed;
    z-index: 999;
    width: 100%;
    height: 23px;
    float: right; */
}

.gt-1{
    right: -71%;
    position: relative;
    z-index: 999;
    height: 23px;
    width: 100%;
    margin-bottom: 8px;
}


.gt-2{
    right: -62%;
    position: relative;
    z-index: 999;
    height: 23px;
    width: 100%;
    margin-bottom: 15px;
}

.gt-3{
    left: 3%;
    position: relative;
    z-index: 999;
    height: 23px;
    width: 100%;
    margin-bottom: 8px;
}
